# Import required libraries

In [1]:
# pip install seaborn
# pip install xgboost
# pip install keras
# pip install sklearn
# pip install pandas
# pip install numpy

In [2]:
# from pydrive.auth import GoogleAuth
# from pydrive.drive import GoogleDrive
# from google.colab import auth
# from oauth2client.client import GoogleCredentials
# auth.authenticate_user()
# gauth = GoogleAuth()
# gauth.credentials = GoogleCredentials.get_application_default()
# drive = GoogleDrive(gauth)

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

In [4]:
import pandas as pd

In [5]:
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error 
from matplotlib import pyplot as plt
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
# from xgboost import XGBRegressor

Using TensorFlow backend.

# Import the data

In [6]:
# help(pd.read_excel)

In [7]:
# df_x = pd.read_excel('Research data sample.xlsx', sheet_name = 'Sheet1')

In [8]:
df_x = pd.read_excel('Research data1.xlsx', sheet_name = 'Sheet1')

In [9]:
df_x.head(2)

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column12,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
df_x.columns

Index(['Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6',
       'Column7', 'Column8', 'Column9', 'Column10', 'Column11', 'Column12',
       'Column13', 'Column14', 'Column15', 'Column16', 'Column17', 'Column18',
       'Column19', 'Column20', 'Column21'],
      dtype='object')

In [11]:
# df_y = pd.read_excel('Research data sample.xlsx', sheet_name = 'Sheet2')

In [12]:
df_y = pd.read_excel('Research data1.xlsx', sheet_name = 'Sheet2')

In [13]:
df_y.head(2)

   Column1
0   66.193
1   66.193

In [14]:
df_y = df_y.rename(columns={'Column1': 'Position'})

In [15]:
df_y.head(2)

   Position
0    66.193
1    66.193

In [16]:
# df_all = df_x
# df_all['Position'] = df_y['Position']

In [17]:
# df_all.to_csv('all-combined-data.csv', index = False)

In [18]:
len(df_x)

729633

In [19]:
train_x = df_x[0:500000]
test_x = df_x[600000:]
train_y = df_y[0:500000]
test_y = df_y[600000:]

In [20]:
val_x = df_x[500000:600000]
val_y = df_y[500000:600000]

In [21]:
# df_all.head(2)

In [22]:
# from sklearn.model_selection import train_test_split

# train_x, test_x, train_y, test_y = train_test_split(df_x, df_y, test_size=0.2, random_state=42)

In [23]:
train_x.head(2)

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column12,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [24]:
len(test_x)

129633

In [25]:
train_x.shape[1]

21

In [26]:
train_x.columns

Index(['Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6',
       'Column7', 'Column8', 'Column9', 'Column10', 'Column11', 'Column12',
       'Column13', 'Column14', 'Column15', 'Column16', 'Column17', 'Column18',
       'Column19', 'Column20', 'Column21'],
      dtype='object')

In [27]:
# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
	X = list()
	for i in range(len(sequence)):
		# find the end of this pattern
		end_ix = i + n_steps
		# check if we are beyond the sequence
		if end_ix > len(sequence)-1:
			break
		# gather input and output parts of the pattern
		seq_x = sequence[i:end_ix]
		X.append(seq_x)
	return array(X)

In [28]:
# df_x.tolist()

In [29]:
train_y.columns

Index(['Position'], dtype='object')

In [30]:
from numpy import array
# define input sequence
raw_seq = train_y['Position'].tolist()
# choose a number of time steps
n_steps = 5
# split into samples
y_train = split_sequence(raw_seq, n_steps)

In [31]:
y_train.shape

(499995, 5)

In [32]:
n_steps

5

In [33]:
y_valid = split_sequence(val_y['Position'].tolist(), n_steps)

In [34]:
# X_valid = split_sequence(df_valid.tolist(), n_steps)

In [35]:
# reshape from [samples, timesteps] into [samples, timesteps, features]
n_features = 1
y_train = y_train.reshape((y_train.shape[0], y_train.shape[1], n_features))
y_valid = y_valid.reshape((y_valid.shape[0], y_valid.shape[1], n_features))

# Training a LSTM Model

In [36]:
len(train_x)

500000

In [37]:
y_train.shape

(499995, 5, 1)

In [38]:
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from keras.layers import LSTM
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [39]:
len(df_x.columns)

21

In [40]:
# define model
model = Sequential()
model.add(LSTM(50, activation='relu', input_shape=(n_steps, n_features)))
model.add(Dense(64, activation='relu'))
model.add(Dense(21, activation = 'sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

#### Create a folder call "lstm_models" to save your model weights

In [41]:
# checkpoint_name = 'lstm_models_decoding/Weights-{epoch:03d}--{val_loss:.5f}.hdf5' 
# checkpoint = ModelCheckpoint(checkpoint_name, monitor='val_loss', verbose = 1, save_best_only = True, mode ='auto')
# callbacks_list = [checkpoint]

In [42]:
#callbacks_list

In [43]:
# train_x

In [44]:
train = train_x[5:].to_numpy()

In [45]:
train.shape

(499995, 21)

In [46]:
target = y_train

In [47]:
target.shape

(499995, 5, 1)

In [48]:
# ?NN_model.fit

In [49]:
val_y.to_numpy().shape

(100000, 1)

In [50]:
y_valid.shape

(99995, 5, 1)

In [51]:
target.shape

(499995, 5, 1)

In [52]:
train.shape

(499995, 21)

In [53]:
model.fit(target, train, epochs=10, batch_size=64, validation_data = (y_valid, val_x[5:].to_numpy()))

Train on 499995 samples, validate on 99995 samples
Epoch 1/10
499995/499995 [==============================] - 68s 136us/step - loss: 0.0713 - accuracy: 0.9863 - val_loss: 0.0509 - val_accuracy: 0.9884
Epoch 2/10
499995/499995 [==============================] - 64s 128us/step - loss: 0.0531 - accuracy: 0.9872 - val_loss: 0.0503 - val_accuracy: 0.9883
Epoch 3/10
499995/499995 [==============================] - 65s 129us/step - loss: 0.0527 - accuracy: 0.9872 - val_loss: 0.0499 - val_accuracy: 0.9884
Epoch 4/10
499995/499995 [==============================] - 64s 128us/step - loss: 0.0525 - accuracy: 0.9872 - val_loss: 0.0517 - val_accuracy: 0.9884
Epoch 5/10
499995/499995 [==============================] - 63s 125us/step - loss: 0.0524 - accuracy: 0.9872 - val_loss: 0.0512 - val_accuracy: 0.9884
Epoch 6/10
499995/499995 [==============================] - 66s 131us/step - loss: 0.0523 - accuracy: 0.9872 - val_loss: 0.0510 - val_accuracy: 0.9884
Epoch 7/10
499995/499995 [==============================] - 67s 135us/step - loss: 0.0523 - accuracy: 0.9872 - val_loss: 0.0513 - val_accuracy: 0.9884
Epoch 8/10
499995/499995 [==============================] - 68s 135us/step - loss: 0.0522 - accuracy: 0.9872 - val_loss: 0.0507 - val_accuracy: 0.9884
Epoch 9/10
499995/499995 [==============================] - 67s 135us/step - loss: 0.0522 - accuracy: 0.9872 - val_loss: 0.0498 - val_accuracy: 0.9884
Epoch 10/10
499995/499995 [==============================] - 64s 128us/step - loss: 0.0521 - accuracy: 0.9872 - val_loss: 0.0498 - val_accuracy: 0.9884

In [54]:
# wights_file = 'lstm_models_decoding/Weights-005--1648.25156.hdf5' # choose the best checkpoint 
# model.load_weights(wights_file) # load it
# model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])

In [55]:
test = test_x.to_numpy()

In [56]:
y_test = split_sequence(test_y['Position'].tolist(), n_steps)

In [57]:
# actual = test_y.to_numpy()

In [58]:
y_test = y_test.reshape((y_test.shape[0], y_test.shape[1], n_features))

In [59]:
predictions = model.predict(y_test)

In [60]:
predictions[0]

array([2.0962956e-05, 1.7492053e-04, 2.6293654e-02, 5.5807747e-02,
       3.5816545e-04, 6.6701655e-04, 1.0406846e-02, 4.8361090e-04,
       1.2778175e-03, 2.6457494e-02, 6.4307183e-04, 1.2449565e-03,
       1.6554458e-03, 2.8995815e-04, 4.3062624e-04, 6.3143358e-02,
       1.3306116e-02, 9.3482272e-04, 2.7212736e-04, 1.6939599e-02,
       4.4496532e-04], dtype=float32)

In [61]:
threshold = []
for j in range(0, 21):
  print(j)
  print(np.mean(test[:,j]))
  threshold.append(np.mean(test[:,j]))

0
0.001473390263281726
1
0.0015582451999105165
2
0.017240980305940616
3
0.016199578810950917
4
0.02868096858053119
5
0.02991522220422269
6
0.014494765993227033
7
0.050280406995132414
8
0.00695039071841275
9
0.009449754306388034
10
0.0012111113682472827
11
0.012334822151766912
12
0.006055556841236414
13
0.0008562634514359769
14
0.004281317257179885
15
0.008122931660919673
16
0.02734643184991476
17
0.0037336172116667825
18
0.0022756551186812
19
0.007976364043106308
20
0.009634892349941759

In [62]:
bin_pred = 1 * (predictions > threshold)

In [80]:
bin_pred[6000:6010]

array([[1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0]])

In [81]:
test[6000:6010]

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]],
      dtype=int64)

In [82]:
y_test[6000:6010]

array([[[117.97],
        [119.09],
        [120.22],
        [130.11],
        [130.15]],

       [[119.09],
        [120.22],
        [130.11],
        [130.15],
        [130.19]],

       [[120.22],
        [130.11],
        [130.15],
        [130.19],
        [130.23]],

       [[130.11],
        [130.15],
        [130.19],
        [130.23],
        [130.27]],

       [[130.15],
        [130.19],
        [130.23],
        [130.27],
        [130.31]],

       [[130.19],
        [130.23],
        [130.27],
        [130.31],
        [130.35]],

       [[130.23],
        [130.27],
        [130.31],
        [130.35],
        [130.39]],

       [[130.27],
        [130.31],
        [130.35],
        [130.39],
        [130.95]],

       [[130.31],
        [130.35],
        [130.39],
        [130.95],
        [131.92]],

       [[130.35],
        [130.39],
        [130.95],
        [131.92],
        [131.77]]])

## Evaluating model

In [66]:
from sklearn.metrics import accuracy_score, f1_score

In [67]:
type(test_x[5:].to_numpy().flatten())

numpy.ndarray

In [68]:
# test_y['Position'].tolist()

In [69]:
accuracy_score(test_x[5:].to_numpy().flatten(), bin_pred.flatten())

0.6714110120241512

In [70]:
f1_score(test_x[5:].to_numpy().flatten(), bin_pred.flatten(), average = 'weighted')

0.7917885941431658

## Hamming Loss

In [71]:
np.sum(np.not_equal(test_x[5:].to_numpy().flatten(), bin_pred.flatten()))/float(test_x.size)

0.32857631415868904

## Geometric Mean

In [72]:
pip install -U imbalanced-learn

Requirement already up-to-date: imbalanced-learn in c:\programdata\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\tikku\appdata\roaming\python\python37\site-packages (from imbalanced-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn) (1.16.5)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.23 in c:\users\tikku\appdata\roaming\python\python37\site-packages (from imbalanced-learn) (0.23.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn) (0.13.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [73]:
from imblearn.metrics import geometric_mean_score

In [74]:
geometric_mean_score(test_x[5:].to_numpy().flatten(), bin_pred.flatten())

0.0

In [75]:
geometric_mean_score(test_x[5:].to_numpy().flatten(), bin_pred.flatten(), average='macro')

0.6462164785843971

In [76]:
geometric_mean_score(test_x[5:].to_numpy().flatten(), bin_pred.flatten(), average='micro')

0.7490673397937753

In [77]:
geometric_mean_score(test_x[5:].to_numpy().flatten(), bin_pred.flatten(), average='weighted')

0.7467905652515383

In [78]:
geometric_mean_score(test_x[5:].to_numpy().flatten(), bin_pred.flatten(), average=None)

array([0.74657841, 0.74660175, 0.        ])